@(session: String)

@main("F1oating | Contacts", session){
    <div style="display: inline-block;">
        <p style="color: white; text-align: left;">Telegram: <a href="https://t.me/F1oating">https://t.me/F1oating</a></p><br>
        <p style="color: white; text-align: left;">Github: <a href="https://github.com/f1oating">https://github.com/f1oating</a></p><br>
        <p style="color: white; text-align: left;">Upwork: <a href="https://www.upwork.com/freelancers/~01a037d5a44ee2e3a9">https://www.upwork.com/freelancers/~01a037d5a44ee2e3a9</a></p><br>
    </div>
}