@(res: String)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login.css")">
</head>
<body>
<div class="container">
    <div class="window">
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>

            <button type="submit">Login</button>

            @if(res != null){
                <p>@res</p>
            }
        </form>
    </div>
</div>
</body>
</html>